@import url('https://fonts.googleapis.com/css?family=Gudea');
@import url('https://fonts.googleapis.com/css?family=OpenSans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Courgette');

*{
	margin: 0;padding: 0; border: 0;
	text-decoration: none;
}

body{
	text-align: center;
	background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;
}

.container{
	width: 1160px;
	margin: 0 auto;
}

.navbar{
	width: 100%;
	height: 80px;
	background-color: #363738;
	text-decoration: none;
}

#brand{
	position: relative;
	top: 1px;
	right: 525px;
	height: 76px;
	width: 260px;
}

.ul-nav li{
	display: inline;
	color:#fff;
	font-family: 'OpenSans', sans-serif;
	font-size: 1.45em;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	left: 510px;
	bottom: 82px;
}

.score li{
	display: inline;
	color:#fff;
	font-family: 'OpenSans', sans-serif;
	font-size: 1.45em;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	left: 35px;
	bottom: 53px;

}
.navbar li:hover{
	border-bottom: 4px solid white;
	-moz-box-shadow:  0px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, .5);
    box-shadow: 0px 4px rgba(0, 0, 0, .2);
}

.flex {
    display: -webkit-flex;
    display: flex;
    width: 1090px;
    height: 300px;
    position: relative;
    top: 20px;
}

#players{
	font-weight: bold;
}
#score{
	color:red;
	font-size: 2.00em;
}

.pedra img, .tesoura img, .papel img{
	width: 215px;
	height: 315px;
	background-color:  #858687;
}

.flex-item {
	border: 1px solid #fff;
    width: 355px;
    height: 315px;
    margin: 2px;
    position: relative;
    left: 0px;
    top: 15px;
    border:4px solid #fff;
	font-weight: bold;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color: #363333;
	text-decoration: none;
	border-radius: 8px;
	outline: none;
	cursor: pointer;
	-webkit-transition: all .5s ease-in-out;
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1;
    -vendor-animation-duration: 2s;
    -vendor-animation-delay: 0s;
    -vendor-animation-iteration-count: 2;
	background-color:  #858687;
}
 
.flex-item:hover{
	color:white;
	border: 4px solid #e2f4ac;
	-webkit-transition: all .5s ease-in-out;
	border-radius: 8px;

}

footer{
	font-family: 'Gudea', sans-serif;
	color:#fff;
	font-weight: bold;
	position: relative;
 	bottom: 20px;
}

footer p{
	position: relative;
	top: 10px;
	letter-spacing: 2px;
	margin-bottom: 40px;
}
 
#menu ul, li{
	display: inline;
}
	
img{
	height: 30px;
	width: 30px;
}		
